<div class="container">
  <!-- top side -->
  <div class="top-side">
    <!-- top item -->
    <a href="#" class="top-item item">
      <!-- image -->
      <div class="image-cotainer">
        <img src="{{ albums[0].img }}" alt="{{ albums[0].album }} image" />
      </div>

      <!-- item text -->
      <div class="text-content">
        <!-- artist and album name -->
        <div class="album-info-structural-div mat-subtitle-1">
          <div class="artist-n-album">
            <!-- artist -->
            <div class="info-item-decorated">
              <span>Artist: </span>
              <span>{{ albums[0].artist }}</span>
            </div>

            <!-- album -->
            <div class="info-item-decorated">
              <span>Album: </span>
              <span>{{ albums[0].album }}</span>
            </div>
          </div>

          <!-- year and track cont -->
          <div class="year-n-track-count">
            <div class="info-item-decorated">
              <span>Year: </span>
              <span>{{ albums[0].year }}</span>
            </div>
            <div class="info-item-decorated">
              <span>Tracks: </span>
              <span>{{ albums[0].tracks }}</span>
            </div>
          </div>
        </div>

        <!-- the rest -->
        <div class="rest-info">
          <div class="about mat-body-1">
            <span>About {{ albums[0].album }}: </span>
            <span>{{ albums[0].about }}</span>
          </div>
        </div>
      </div>
    </a>

    <!-- top item -->
    <a href="#" class="top-item item">
      <!-- image -->
      <div class="image-cotainer">
        <img src="{{ albums[1].img }}" alt="{{ albums[1].album }} image" />
      </div>

      <!-- item text -->
      <div class="text-content">
        <!-- artist and album name -->
        <div class="album-info-structural-div mat-subtitle-1">
          <div class="artist-n-album">
            <!-- artist -->
            <div class="info-item-decorated">
              <span>Artist: </span>
              <span>{{ albums[1].artist }}</span>
            </div>

            <!-- album -->
            <div class="info-item-decorated">
              <span>Album: </span>
              <span>{{ albums[1].album }}</span>
            </div>
          </div>

          <!-- year and track cont -->
          <div class="year-n-track-count">
            <div class="info-item-decorated">
              <span>Year: </span>
              <span>{{ albums[1].year }}</span>
            </div>
            <div class="info-item-decorated">
              <span>Tracks: </span>
              <span>{{ albums[1].tracks }}</span>
            </div>
          </div>
        </div>

        <!-- the rest -->
        <div class="rest-info">
          <div class="about mat-body-1">
            <span>About {{ albums[1].album }}: </span>
            <span>{{ albums[1].about }}</span>
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- bottom side -->
  <div class="bot-side">
    <!-- bottom item -->
    <a href="#" class="top-item item">
      <!-- image -->
      <div class="image-cotainer">
        <img src="{{ albums[2].img }}" alt="{{ albums[2].album }} image" />
      </div>

      <!-- item text -->
      <div class="text-content">
        <!-- artist and album name -->
        <div class="album-info-structural-div mat-body-1">
          <div class="artist-n-album">
            <!-- artist -->
            <div class="info-item-decorated">
              <span>Artist: </span>
              <span>{{ albums[2].artist }}</span>
            </div>

            <!-- album -->
            <div class="info-item-decorated">
              <span>Album: </span>
              <span>{{ albums[2].album }}</span>
            </div>
          </div>

          <!-- year and track cont -->
          <div class="year-n-track-count">
            <div class="info-item-decorated">
              <span>Year: </span>
              <span>{{ albums[2].year }}</span>
            </div>
            <div class="info-item-decorated">
              <span>Tracks: </span>
              <span>{{ albums[2].tracks }}</span>
            </div>
          </div>
        </div>

        <!-- the rest -->
        <div class="rest-info">
          <div class="about mat-body-1">
            <span>About {{ albums[2].album }}: </span>
            <span>{{ albums[2].about }}</span>
          </div>
        </div>
      </div>
    </a>

    <!-- bottom item -->
    <a href="#" class="top-item item">
      <!-- image -->
      <div class="image-cotainer">
        <img src="{{ albums[3].img }}" alt="{{ albums[3].album }} image" />
      </div>

      <!-- item text -->
      <div class="text-content">
        <!-- artist and album name -->
        <div class="album-info-structural-div mat-body-1">
          <div class="artist-n-album">
            <!-- artist -->
            <div class="info-item-decorated">
              <span>Artist: </span>
              <span>{{ albums[3].artist }}</span>
            </div>

            <!-- album -->
            <div class="info-item-decorated">
              <span>Album: </span>
              <span>{{ albums[3].album }}</span>
            </div>
          </div>

          <!-- year and track cont -->
          <div class="year-n-track-count">
            <div class="info-item-decorated">
              <span>Year: </span>
              <span>{{ albums[3].year }}</span>
            </div>
            <div class="info-item-decorated">
              <span>Tracks: </span>
              <span>{{ albums[3].tracks }}</span>
            </div>
          </div>
        </div>

        <!-- the rest -->
        <div class="rest-info">
          <div class="about mat-body-1">
            <span>About {{ albums[3].album }}: </span>
            <span>{{ albums[3].about }}</span>
          </div>
        </div>
      </div>
    </a>

    <!-- bottom item -->
    <a href="#" class="top-item item">
      <!-- image -->
      <div class="image-cotainer">
        <img src="{{ albums[4].img }}" alt="{{ albums[4].album }} image" />
      </div>

      <!-- item text -->
      <div class="text-content">
        <!-- artist and album name -->
        <div class="album-info-structural-div mat-body-1">
          <div class="artist-n-album">
            <!-- artist -->
            <div class="info-item-decorated">
              <span>Artist: </span>
              <span>{{ albums[4].artist }}</span>
            </div>

            <!-- album -->
            <div class="info-item-decorated">
              <span>Album: </span>
              <span>{{ albums[4].album }}</span>
            </div>
          </div>

          <!-- year and track cont -->
          <div class="year-n-track-count">
            <div class="info-item-decorated">
              <span>Year: </span>
              <span>{{ albums[4].year }}</span>
            </div>
            <div class="info-item-decorated">
              <span>Tracks: </span>
              <span>{{ albums[4].tracks }}</span>
            </div>
          </div>
        </div>

        <!-- the rest -->
        <div class="rest-info">
          <div class="about mat-body-1">
            <span>About {{ albums[4].album }}: </span>
            <span>{{ albums[4].about }}</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
