<div class="container">
  <ng-container *ngIf="progressVal$ | async as progress">
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      color="accent"
      value="{{ progress }}"
    ></mat-progress-bar>
  </ng-container>

  <div class="nav-bar">
    <a href="#" class="nav-bar__img-box">
      <img src="../../../assets/logos/logo-green.png" />
    </a>
    <div class="nav-bar__nav">
      <a
        routerLink="/tracks"
        routerLinkActive="active-link"
        class="link nav-links mat-h3"
        (click)="onTopLoader('tracks')"
        >Tracks</a
      >
      <a
        routerLink="/artists"
        routerLinkActive="active-link"
        class="link nav-links mat-h3"
        (click)="onTopLoader('artists')"
        >Artists</a
      >
      <a
        routerLink="/albums"
        routerLinkActive="active-link"
        class="link nav-links mat-h3"
        (click)="onTopLoader('albums')"
        >Albums</a
      >
      <a
        routerLinkActive="active-link"
        class="link nav-links mat-h3 search-nav"
        (click)="onTopLoader('search')"
        (mouseenter)="controlDrop(true)"
        (mouseleave)="controlDrop(false)"
      >
        <span> Search </span>
        <app-search-drop-down [active]="searchDropdown"></app-search-drop-down>
      </a>
    </div>
    <div>
      <div class="sign-box">
        <span class="sign-in link mat-h3">Sign In</span>
        <span class="sign-up mat-h3">
          <span>Sign Up</span>
        </span>
      </div>
    </div>
  </div>
</div>
