<div class="container">
  <div class="nav-bar">
    <a href="#" class="nav-bar__img-box">
      <img src="../../../assets/logos/logo-green.png" />
    </a>
    <div class="nav-bar__nav">
      <a href="#" class="link nav-links">Tracks</a>
      <a href="#" class="link nav-links">Artists</a>
      <a href="#" class="link nav-links">Albums</a>
      <a href="#" class="link nav-links">Search</a>
    </div>
    <div>
      <div class="sign-box">
        <span class="sign-in link">Sign In</span>
        <span class="sign-up">
          <span>Sign Up</span>
        </span>
      </div>
    </div>
  </div>
</div>
