.swiper-container {
  width: 80rem;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-container-inner {
  width: 100%;
}

.wiper-slide {
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 25rem;
}

.slider-image {
  display: block;
  width: 100%;
  filter: grayscale(1);

  transition: filter 0.25s ease-in;
}
.slider-image:hover {
  filter: grayscale(0.5);
  cursor: pointer;
}
