@use "../../../../../scss/abstracts" as a;
@use "../../../../../scss/base" as b;

.hero-container {
  min-height: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  background-image: url("../../../../../assets/search/shared/track.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// for  top chart content

.main-container {
  padding: 5rem 0;

  & h2 {
    text-align: center;
    color: a.$color-secondary;
    letter-spacing: 7px;
    margin-bottom: 4rem;
  }
}

.list-of-popular-tracks {
  margin-bottom: 4rem;
}

.hero {
  margin-bottom: 6rem;
}
