@use "../../../../scss/abstracts" as a;
@use "../../../../scss/base" as b;

.main-container {
  padding: 5rem 0;

  & h2 {
    text-align: center;
    color: a.$color-secondary;
    letter-spacing: 7px;
    margin-bottom: 4rem;
  }
}

.list-of-popular-tracks {
  margin-bottom: 4rem;
}

.hero {
  margin-bottom: 6rem;
}
