@use '../../../../../scss/abstracts' as a;
@use '../../../../../scss/base' as b;

.hero-container {
  min-height: 40rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-image {
  background-image: url("../../../../../assets/search/shared/artist.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

// for top  charts
.structural-container {
  padding: 5rem 0;

  & h2 {
    text-align: center;
    color: a.$color-secondary;
    letter-spacing: 7px;
    margin-bottom: 4rem;
  }
}

.main-container {
  width: b.$main-container-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

// top 3
.top-3 {
  margin-bottom: 10rem;
}

// gallery
.gallery {
  margin-bottom: 10rem;
}
