<div class="outter-container" [ngClass]="{ active: active }">
  <div class="dropdown">
    <a
      class="drop-link"
      (click)="onTopLoader('search-albums')"
      routerLink="/search/search-albums"
      >Search Albums</a
    >
    <a
      class="drop-link"
      (click)="onTopLoader('search-artists')"
      routerLink="/search/search-artists"
      >Search Artists</a
    >
    <a
      class="drop-link"
      (click)="onTopLoader('search-tracks')"
      routerLink="/search/search-tracks"
      >Search Tracks</a
    >
  </div>
</div>
<!--  -->
