@use "../../../../scss/abstracts" as a;
@use "../../../../scss/base" as b;

.structural-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem 0;
}

.main-container {
  width: b.$main-container-width;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}
