$color-primary-black: #151718;
$color-primary-black-light: #33343a;

$color-secondary: #c3ff51;
$color-secondary-gradiant-dark: #55ff66;
$color-secondary-gradiant-light: #bdff51;

$regular-text-color: #f1f1f3;
$text-color-non-focuseed: #9da392;
