@use "../../../../../scss/abstracts" as a;
@use "../../../../../scss/base" as b;

.container {
  width: 1000px;
  backdrop-filter: blur(10px);

  margin: 0 auto;
  border-radius: 2rem;
  background-color: rgba($color: a.$color-primary-black-light, $alpha: 0.2);
  position: relative;
}

.input-parent-box {
  margin: 0 auto;
  padding: 3rem 5rem;
  text-align: center;
}

.input-main-header {
  letter-spacing: 3px;
  display: block;
  margin-bottom: 2rem;

  & span {
    color: a.$color-secondary;
  }
}
.input-secondary-header-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.input {
  box-sizing: border-box;
  font-size: 2rem;
  width: 100%;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 0.2rem solid a.$color-secondary;
  padding: 0.8rem;
  color: a.$color-secondary;
  background: transparent;
}

.input::placeholder {
  color: rgba(a.$color-secondary, 0.35);
}

.input:focus,
.input:active {
  background: rgba(a.$color-secondary, 0.1);
}
.search-box {
  display: flex;
  align-items: center;
}
.search-button {
  display: block;
  border: none;
  border-bottom: 0.2rem solid a.$color-secondary;
  background-color: transparent;
  padding: 0.45rem;
  cursor: pointer;

  &:hover {
    & svg {
      transform: translateY(-5px);
    }
  }

  & svg {
    color: a.$color-secondary;
    width: 3rem;
    height: 3rem;
    display: block;
    transition: 0.25s ease;
  }
}

.loading-spinner-container {
  position: absolute;
  bottom: -14rem;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
}
