<footer class="footer">
  <div class="structural">
    <ul class="footer-nav footer-sub-sec">
      <li class="header mat-h2">Navigation</li>
      <li><a routerLink="/" mat-h4>Home</a></li>
      <li><a routerLink="/tracks" mat-h4>Tracks</a></li>
      <li><a routerLink="/artists" mat-h4>Artists</a></li>
      <li><a routerLink="/albums" mat-h4>Albums</a></li>
      <li><a routerLink="/search" mat-h4>Search</a></li>
    </ul>

    <ul class="resourses footer-sub-sec">
      <li class="header mat-h2">Resouces</li>
      <li class="spotify api-sub">
        <a href="https://developer.spotify.com/" target="_blank">
          <span mat-h3>Spotify API</span>
          <img
            src="../../../assets/logos/spotify-logo.png"
            alt="spotify logo"
          />
        </a>
      </li>
      <li class="Last-fm api-sub">
        <a href="https://www.last.fm/api" target="_blank">
          <span mat-h3>Last FM API</span>
          <img src="../../../assets/logos/lastfm.png" />
        </a>
      </li>
    </ul>

    <ul class="footer-sub-sec me">
      <li class="header mat-h2">About Project</li>
      <li class="about mat-h4">
        <span>About the Project:</span>
        This project was planned, designed, and developed entirely from scratch.
        The sole driving force behind the creation of this project is my passion
        for both music and programming.
      </li>

      <li class="creator">Luka Gaganidze 2023</li>
    </ul>
  </div>
</footer>
