<ng-container *ngIf="heroTracksData as tracksData">
  <div class="hero">
    <div class="left-side sides">
      <a
        class="side-link-item"
        [routerLink]="['/tracks', tracksData[1].track_Id]"
      >
        <img
          src="{{ tracksData[1].img_large }}"
          alt="image of song: {{ tracksData[1].song }}'s album"
        />
        <div class="text-box-sides">
          <span>{{ tracksData[1].artist }}</span>
          <span>{{ tracksData[1].song }}</span>
        </div>
      </a>

      <a
        class="side-link-item"
        [routerLink]="['/tracks', tracksData[2].track_Id]"
      >
        <img
          src="{{ tracksData[2].img_large }}"
          alt="image of song: {{ tracksData[2].song }}'s album"
        />
        <div class="text-box-sides">
          <span>{{ tracksData[2].artist }}</span>
          <span>{{ tracksData[2].song }}</span>
        </div>
      </a>
    </div>

    <a class="main" [routerLink]="['/tracks', tracksData[0].track_Id]">
      <img
        src="{{ tracksData[0].img_large }}"
        alt="image of song: {{ tracksData[0].song }}'s album"
      />

      <div class="mian-linnk-text">
        <span class="mat-headline-5">{{ tracksData[0].artist }}</span>
        <span class="mat-headline-5">{{ tracksData[0].song }}</span>
      </div>
    </a>

    <div class="right-side sides">
      <a
        class="side-link-item"
        [routerLink]="['/tracks', tracksData[3].track_Id]"
      >
        <img
          src="{{ tracksData[3].img_large }}"
          alt="image of song: {{ tracksData[3].song }}'s album"
        />
        <div class="text-box-sides">
          <span>{{ tracksData[3].artist }}</span>
          <span>{{ tracksData[3].song }}</span>
        </div>
      </a>
      <a
        class="side-link-item"
        [routerLink]="['/tracks', tracksData[4].track_Id]"
      >
        <img
          src="{{ tracksData[4].img_large }}"
          alt="image of song: {{ tracksData[4].song }}'s album"
        />
        <div class="text-box-sides">
          <span>{{ tracksData[4].artist }}</span>
          <span>{{ tracksData[4].song }}</span>
        </div>
      </a>
    </div>
  </div>
</ng-container>
